.audit-process {

	padding-bottom: 70px;
	padding-top: 65px;

	&__title {

		font-size: @bigger;
		top: -75px;

	}

	&__subtitle {

		font-size: @medium;
		padding-left: 5px;

	}

	&__item {

		min-height: 38px;
		font-size: @regular;

  }

}